
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 0%;
    width: 100%;
}

#container {
    height: 135%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}

#box {
    height: 40%;
    width: 45%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#box > img {
    width: 131.25px; /* Adjusted width for smaller logo on mobile screens */
    margin-top: 100px;
}

#data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#data > h4 {
    font-size: 25px;
}

#data > img {
    width: 25px;
}

.line {
    height: .7px;
    background-color: rgba(0, 0, 0, 0.222);
    width: 90%;
    margin: 1rem;
}

#para p {
    margin: 20px 100px 0px 100px;
    font-size: 14px;
}

#para button {
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    background-color: #145dbd;
    cursor: pointer;
}

#para button a {
    text-decoration: none;
    color: #fff;
}

#para button:hover {
    background-color: #03469e;
}

@media (max-width: 500px) {
    #box {
        margin: 0;
        height: 45%;
        width: 95%;
        top: 0%;
    }
    #box > img {
        width: 131.25px; /* Adjusted width for smaller logo on mobile screens */
        margin-top: 50px; /* Adjusted margin for smaller logo on mobile screens */
    }
    #data > h4 {
        font-size: 18px;
    }
    #data > img {
        width: 15px;
        margin-left: 2px;
    }
    .line {
        height: .5px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #00000045;
    }
    #para {
        margin: 0%;
    }
    #para > p {
        margin: 5px 15px 0px 15px;
        font-size: 14px;
    }
    #para button {
        padding: 8px 18px 8px 18px;
        margin-top: 15px;
        border: none;
        border-radius: 2px;
        font-size: 13px;
        background-color: #1877F2;
        cursor: pointer;
    }
}
#para {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Added to align button in center */
}